.landing svg:nth-of-type(1) path {
    stroke-dasharray: 6442;
    stroke-dashoffset: 6442;
    animation: line-anim 7s ease forwards;
}

.landing svg:nth-of-type(2) path {
    stroke-dasharray: 4690;
    stroke-dashoffset: 4690;
    animation: line-anim 7s ease forwards 0.1s;
}

.landing svg:nth-of-type(3) path {
    stroke-dasharray: 7205;
    stroke-dashoffset: 7205;
    animation: line-anim 7s ease forwards;
}

.landing svg:nth-of-type(4) path {
    stroke-dasharray: 4222;
    stroke-dashoffset: 4222;
    animation: line-anim 7s ease forwards 0.1s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}